body {
	background: url(../img/Background_copy.png) no-repeat;
	background-size: cover;
	height: 1080px;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Thin', Arial, Tahoma, sans-serif;
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

.wraper {
	position: absolute;
	top: 0;
	width: 1350px;
}

.panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: #075191;
}

.flag_icon {
	display: block;
	margin-left: 995px;
	width: 40px; 
	height: 40px;
}

.img_icon {
	position: absolute;
	top: 5px;
	width: 25px;
	height: 30px;
}

.border {
	margin-left: 979px;
	width: 3px;
}

.img_border {
	position: absolute;
	top: 4px;
}

.menu {
	margin-left: 36%;
	list-style: none;
}

.menu li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

.menu .tab1 {
	left: 100px;
	width: 110px;
	height: 40px;
	margin: 0;
}

.tab2 {
	left: 97px;
	width: 70px;
	height: 40px;
}

.tab3 {
	left: 94px;
	width: 65px;
	height: 40px;
}

.tab4 {
	left: 91px;
	width: 75px;
	height: 40px;
	
}

.tab5 {
	left: 88px;
	width: 67px;
	height: 40px;
}

.tab6 {
	left: 89px;
	width: 155px;
	height: 40px;
}

.tab6 > a {
	text-align: right;
	width: 156px;
	padding-right: 11px;
}

.tab7 {
	left: 87px;
	width: 190px;
	height: 40px;
}

a {
	display: block;
	height: 40px;
	padding-top: 10px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	font-family: "Helvetica Neue Cyr Thin", sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}
.a1 {
	color: rgb(96, 181, 237);
}

.a1:hover {
	background-color: #4eabda;
	color: white;
}

.a2 {
	color: rgb(255, 255, 255);
}

.a3 {
	color: rgb(255, 255, 255);
}
.a3:hover .text_a3 { /*Cтилизация кнопки "Ola! Entrar ou Cadastre-se*/
	border-bottom: 1px solid white;
}

/*Cтилизация кнопки "Ola! Entrar ou Cadastre-se*/
.a3:hover { 
	background: rgba(183,222,237,1);
	background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 14%, rgba(33,180,226,1) 33%, rgba(47,124,197,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(14%, rgba(113,206,239,1)), color-stop(33%, rgba(33,180,226,1)), color-stop(100%, rgba(47,124,197,1)));
	background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 14%, rgba(33,180,226,1) 33%, rgba(47,124,197,1) 100%);
	background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 14%, rgba(33,180,226,1) 33%, rgba(47,124,197,1) 100%);
	background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 14%, rgba(33,180,226,1) 33%, rgba(47,124,197,1) 100%);
	background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 14%, rgba(33,180,226,1) 33%, rgba(47,124,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#2f7cc5', GradientType=0 );
	border: 1px ridge #4eabda;
	border-top: none;
}

.text_a3 {
	border-bottom: 1px solid transparent;
}

.conteiner {
	position: absolute;
	top: 0;
	left: 50%;
	max-width: 1920px;
	min-height: 1080px;
}


form {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 278px;
	min-height: 120px;
	padding: 65px 141px 30px;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 1px solid;
	border-color: transparent;
	z-index: 1;
	clear: both;
}


.block_head_form {
	display: inline-block;
	width: 558px;
	margin-left: -141px;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0.5);
}

.head_form {
	position: absolute;
	top: 25px;
	left: 214px;
	display: inline-block;
  	vertical-align: top;
  	width: 140px;
	font-family: "Helvetica Neue Cyr Thin", sans-serif;
	font-size: 24px;
  	color: rgb(255, 255, 255);
  	line-height: 0.667;
  	text-align: left;
  	clear: both;
}

.line1 {
	position: relative;
	top: -16px;
	left: 0px;
	width: 122px;
	height: 2px;
	display: block;
	clear: both;
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(49%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(94%, rgba(17,17,17,1)), color-stop(96%, rgba(43,43,43,1)), color-stop(97%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}

.big_text {
	position: relative;
	bottom: 26px;
	left: 128px;
	width: 20px;
	font-family: "Helvetica Neue Cyr Thin", sans-serif;
	font-size: 14px;
	color: rgb(153, 153, 153);
}

.line2 {
	position: relative;
	top: -35px;
	left: 153px;
	width: 122px;
	height: 2px;
	clear: both;
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(49%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(94%, rgba(17,17,17,1)), color-stop(96%, rgba(43,43,43,1)), color-stop(97%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 94%, rgba(43,43,43,1) 96%, rgba(28,28,28,1) 97%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}

input {
	width: 276px;
	height: 35px;
	margin-bottom: 15px;
	padding-left: 20px;
	border: none;
	border-bottom: solid 1px #484848;
	font-family: "Helvetica Neue Cyr Thin", sans-serif;
	font-size: 14px;
  	color: rgb(240, 240, 240);
  	background: -moz-linear-gradient(top,  #100f0e, #100f0e 100%);
	background: -webkit-linear-gradient(top,  #100f0e, #100f0e 100%);
	background: linear-gradient(to bottom,  #111111, #111111 100%);
	box-sizing: border-box;

}

.input_txt:hover {
	background: #1b5288;
	color: white;
	-webkit-box-shadow: 0px 0px 8px 3px rgba(104,155,205,1);
   -moz-box-shadow: 0px 0px 8px 3px rgba(104,155,205,1);
   box-shadow: 0px 0px 8px 3px rgba(104,155,205,1);
}

.reg_facebook {
	/*position: absolute;*/
	width: 276px;
	height: 35px;
	margin-bottom: 17px;
	font-weight: bolder;
	font-size: 14px;
	border-radius: 5px;
	border-top: 1px solid #778cb9;
	border-bottom: 2px solid #333f65;
	background: -moz-linear-gradient(top,  #3d5698, #2d4279 100%);
	background: -webkit-linear-gradient(top,  #3d5698, #2d4279 100%);
	background: linear-gradient(to bottom,  #3d5698, #2d4279 100%);
	box-sizing: border-box;
	z-index: 3;
}

.reg_facebook:hover {
	text-decoration: underline;
}

.img_facebook {
	position: relative;
	top: 35px;
	left: 3px;
	width: 37px;
	height: 35px;
	border-right: 1px solid #778cb9;
	z-index: 2;
	clear: both;
}

 .facebookLogo {
 	position: relative;
 	width: 36px;
 	height: 35px;
 	border-right: 0.5px solid #1d2a4a;
 	z-index: 2;
 	clear: both;
}

.triangl_facebook {
	position: relative;
	top: -48px;
	left: 236px;
	width: 25px;
	clear: both;
}

.checkbox_txt {
	font-family: "Helvetica Neue Cyr Thin", sans-serif;
	font-size: 14px;
    color: rgb(204, 204, 204);
	text-align: left;
	line-height: 2;
}

.box {
	width: 13px;
	height: 13px;
	margin: 10px 5px 0px 0px;
}
 
.submit_tab:hover {
	text-decoration: underline;
}
  
.submit_tab {
	position: relative;
	top: 22px;
	left: 62px;
	width: 150px;
	height: 40px;
	padding: 0;
	border-radius: 5px;
	background: -moz-linear-gradient(top,  #4ca9d9, #2e7bc4 100%);
	background: -webkit-linear-gradient(top,  #4ca9d9, #2e7bc4 100%);
	background: linear-gradient(to bottom,  #4ca9d9, #2e7bc4 100%);
}

.block_By_clicking_the_button {
	position: relative;
	top: 10px;
	left: -15px;
	width: 315px;

}

.By_clicking_the_button {
	display: inline-block;
	vertical-align: top;
	width: 308px;
	margin-top: 20px;
	font-family: "Helvetica Neue Cyr Thin", sans-serif;
	font-size: 11px;
	color: rgb(204, 204, 204);
	line-height: 1.455;
	text-align: center;
}